@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-inline: auto;
  position: relative;
  width: 24rem;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #27272a;
}
